<h2>My Plots</h2>
<% @plots.each do |plot| %>
  <%= plot.plot_number %>
  <%= button_to "Add A Plant", { action: "add_plant" }, method: :get %>
  <% plot.plants.each do |plant| %>
    <%= plant.name %>
    <li><%= plant.description %></li>
  <% end %>
<% end %>
