<h2>My Plots</h2>
<% @plots.each do |plot| %>
  <div><%= link_to "Plot Number #{plot.plot_number}", plot %>
    <p><% plot.plants.each do |plant| %>
      <%= plant.name %>
      <li><%= plant.description %></li></p>
    <% end %>
  </div>
<% end %>
