<h2><%= "#{current_user.garden.name}'s Gardeners" %> </h2>
<div class="show-page-content all-users">
  <table>
    <thead>
      <tr class="body-text">
        <th>Name</th>
        <th>Email Address</th>
      </tr>
    </thead>
    <tbody>
      <% @all_users.each do |user| %>
        <tr class="body-text">
          <td class><%= link_to "#{user.full_name}", user %> </td>
          <td class> <%= user.email %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
