<div class="garden-overview row">
  <h2><%= @garden.name %></h2>
    <div class="garden-container row">
      <% @plots.each do |plot| %>
        <% @plants = plot.plants %>
        <%= react_component("Plot",
                            plot_number: plot.plot_number,
                            plants: @plants,
                            owner: plot.user.full_name,
                            image: plot.image,
                            url: url_for(controller: 'plots',
                                         action: 'show',
                                         id: plot.id)) %>
      <% end %>
    </div>
</div>
