@import "materialize";
//You need to now manually import every other scss file.

.hidden {
  background-color: lightblue;
}

.garden-container {
  margin: 0 auto;

  a {
    margin: 0 10px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    overflow: hidden;
    background-color: #352211;
    position: relative;
    float: left;
    width: 200px;
    height: 200px;


    img {
      position: absolute;
      left: 0;
      top: 20px;
      transition: all 1.5s ease;

      &:hover {
        top: 150px;
      }
    }
  }
}

.garden-container {
  background-image: url(dirt.jpg);
  background-size: cover;
}
