@import "materialize";

$header-footer-background: #13604A;
$header-footer-text: white;
$header-color: #6C4C26;
$body-text-color: #8C8E85;
$main-background-color: #DEECA3;

h2 {
  color: $header-color;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.hidden {
  background-color: lightblue;
}

.garden-container {
  margin: 0 auto;

  a {
    margin: 10px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    overflow: hidden;
    background-color: $header-footer-background;
    color: $main-background-color;
    position: relative;
    float: left;
    width: 200px;
    height: 200px;
    &:hover {
      img {
      top: 160px;
      transition: all 1.5s ease;
      }
    }

    .plot-number {
      font-family: 'Montserrat', sans-serif;
      color: white;
    }

    img {
      position: absolute;
      left: 0;
      top: 25px;
    }
  }
}

.plants-in-plot {
  display: inline;
}

footer {
  font-family: 'Poiret One', cursive;
  position: fixed;
  bottom: 0;
  height: 7%;
  background: $header-footer-background;
  width: 100%;
  text-align: center;
  padding-top: 15px;
  color: $header-footer-text;

  a{
    color: $main-background-color;
    &:hover {
      color: darken($main-background-color, 10%);
    }
  }
}

nav {
  font-family: 'Poiret One', cursive;
  background-color: $header-footer-background;
  padding-left: 5px;

  .nav-buttons {
    float: right;
    display: inline;
  }
}

.nav-btn {
  display: inline;
  box-sizing: border-box;
  cursor: pointer;
  float: right;
  height: 100%;
  padding: 0 10px;
  &:hover {
    background-color: darken($header-footer-background, 5%);
  }
}

.login-form, .signup-form {
  font-family: 'Open Sans', sans-serif;
  border: 1px solid #18705B;
  max-width: 50%;
  box-sizing: border-box;
  margin: 30px auto;
  padding: 10px;
  opacity: .9;
  border-radius: 2em;
  background: #18705B;

  .login-button, .sign-up-button {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
  }

  label, input {
    color: white;
  }

  h2 {
    font-size: 2.5rem;
    color: white;
    text-align: center;
  }
}

.container {
  padding-bottom: 7%;
  padding-top: 20px;
}

.btn {
  box-sizing: border-box;
  font-size: 14px;
  padding: 0 5px;
  min-width: 125px;
  background: #18705B;
  color: white;
  &:hover {
    background: darken(#18705B, 3%);
  }
}

.add-plant-btn {
  font-weight: normal;
  font-size: 14px;
  padding: 0 5px;
}

.user-plant-list {
  margin: 5px;
  padding: 5px;
  color: #878787;
  background: white;
}

.edit-plot-image {
  background: white;
  margin: 5px;
  padding: 5px;
  color: $body-text-color;
}

.current-plot-image {
  display: inline;
}

.logo {
  font-family: 'Poiret One', cursive;
  font-size: 24px;
  padding-left: 8px;
  color: white;
  font-weight: bold;
  display: inline;
}

.plot-number {
  margin-top: 2px;
}

.update-image-btn {
  margin: 0;
}

.plot-header {
  font-weight: bold;
}

body {
  background: #DEECA3;
}

.picture-background {
  background-image: url(commgard.jpg);
  background-repeat: no-repeat;
  background-size: fixed;
}

.forgot-password {
  color: #DEECA3;
  &:hover {
    color: darken(#DEECA3, 10%);
  }
}

.gardener-name {
  font-size: 24px;
  color: $header-color;
  font-family: 'Montserrat', sans-serif;

  span {
    font-weight: bold;
  }
}

.body-text {
  color: $body-text-color;
  font-family: 'Open Sans', sans-serif;
}

.plant-name {
  text-decoration: underline;
}

.plot-show-sub-header {
  font-size: 20px;
  margin-bottom: 0;
}

.show-page-content {
  background: white;

  span {
    font-weight: bold;
  }
}

.sub-sub-header {
  font-size: 20px;
}

.info {
  font-size: 16px;
}

.plants-in-plot, .new-image, .my-plots-number {
  color: $header-color;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

td, th {
  padding: 8px;
  font-family: 'Open Sans', sans-serif;
}

.preview {
  min-height: 200px;
  min-width: 200px;
}

.cur-img {
  display: block;
}

.all-users {
  padding: 10px;
}

.needs-padding {
  padding: 10px;
}

.plot-owner {
  font-family: 'Open Sans', sans-serif;
}
